.million-rank {
  margin: 10px 14px 0;
  position: relative;
  border-radius: 16px;
  overflow: hidden;

  .million-rank-bg-shell {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    overflow: hidden;
    height: 50%;

    .million-rank-bg {
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      object-fit: contain;
    }

    &.bottom {
      top: initial;
      bottom: 0;

      .million-rank-bg {
        top: initial;
        bottom: 0;
      }
    }
  }

  .million-rank-content {
    position: relative;
    margin: 10px;
    z-index: 2;
    border-radius: 12px;
    padding: 10px;
    color: #fff;

    .million-rank-title-wrap {
      position: relative;
      display: flex;
      justify-content: center;
      margin-bottom: 10px;

      .million-rank-title {
        width: 100%;
        position: relative;
        margin-top: -12px;
        z-index: 2;
        justify-content: center;
        font-family: HarmonyOS Sans SC;
        font-size: 14px;
        font-weight: 600;
        line-height: normal;
        text-align: center;
        letter-spacing: 0em;
        background: linear-gradient(180deg, #47257E 0%, rgba(100, 87, 0, 0.7) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
      }
    }

    .million-lucky-header {
      display: flex;
      justify-content: space-between;
      color: #fff;
      font-weight: 700;
      font-size: 12px;
      margin-bottom: 6px;

      span {
        flex: 1;
        text-align: center;
        
        &:first-child {
          text-align: left;
        }
        
        &:last-child {
          text-align: right;
        }
      }
    }

    .million-lucky-row {
      height: 38px;
      border-radius: 8px;
      background: rgba(255, 255, 255, 0.08);
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 10px;
      font-size: 12px;
      margin-bottom: 6px;

      span {
        flex: 1;
        text-align: center;
        
        &:first-child {
          text-align: left;
        }
        
        &:last-child {
          text-align: right;
          color: #ffe27a;
          font-weight: 700;
        }
      }
      .prize-name{
        background: linear-gradient(270deg, #F7BBFF 0%, #FFFFFF 48%, #FFEF9F 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
      }
    }

    .million-rank-empty {
      margin: 0 0 8px;
      text-align: center;
      font-size: 12px;
      color: rgba(255, 255, 255, 0.7);
    }
  }
}