.hero-section {
  position: relative;
  width: 100%;
  padding-bottom: 32px;
  text-align: center;

  .hero-back-btn {
    position: absolute;
    top: 32px;
    left: -20px;
    height: 46px;
    border: 0;
    padding: 0;
    background: transparent;
    z-index: 2;

    img {
      height: 100%;
      object-fit: cover;
      display: block;
    }
  }

  .hero-mode-group {
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    z-index: 2;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 16px;

    .hero-mode-btn {
      width: 108px;
      border: 0;
      padding: 0;
      background: transparent;
      transition: transform 0.2s ease;

      &.is-active {

      }

      img {
        width: 100%;
        display: block;
      }
    }
  }

  .hero-top-bg {
    width: 100%;
    display: block;
  }

}
