@import "../RulePopup/index.less";

.record-popup-header {
  display: grid;
  grid-template-columns: 90px 1fr 1fr 1fr;
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  padding: 10px 8px;
  margin-bottom: 6px;
  text-align: center;
}

.record-popup-row {
  height: 30px;
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid rgba(255, 255, 255, 0.15);
  background: linear-gradient(180deg, rgba(100, 95, 203, 0.37) 0%, rgba(156, 87, 209, 0.4) 100%);

  display: grid;
  grid-template-columns: 90px 1fr 1fr 1fr;
  align-items: center;
  padding: 0 8px;
  font-size: 12px;
  margin-bottom: 8px;
  text-align: center;
  color: rgba(255, 255, 255, 0.9);

  .time{
    font-size: 9px;
  }

  span.highlight {
    background: linear-gradient(270deg, #F7BBFF 0%, #FFFFFF 48%, #FFEF9F 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    font-weight: 700;
  }
}

.activity-popup-title{
  font-size: 19px;
  font-weight: 500;
}

.record-popup-empty {
  margin: 20px 0;
  text-align: center;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.6);
}